<h1>Ads.RB darmowy serwis ogłoszeniowy</h1>
<p>

  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
</p>
<%= link_to "Zarejestruj się teraz!", '#', :class => "signup_button round" %>
