<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "O nas", onas_path %></li>
      <li><%= link_to "Kontakt", kontakt_path %></li>
      <li><a href="http://ads/">Info</a></li>
      <li><a href="http://www.projektpartner.pl/">by projektPartner</a></li>
    </ul> </nav>
</footer>